.btn{
  border:2px solid $primary-color;
  border-radius:5px;
  position:relative;
  top:0;
  overflow:visible;
  margin: 25px 0 5px 0;
  display:inline-block;
  padding: .25*$grid-subdivision $grid-subdivision;
  @include header-font(18px);
  //@include transition('.15s'); 
  &.btn-primary{
    color:$font-color-light;
    background: $primary-color;
    border:2px solid $primary-color;
    border-radius:5px; 
    &:hover{
      background: $primary-color-hover;
      border: 2px solid $primary-color-hover;
    }
  }
  &.btn-secondary{
    color:$primary-color;
    &:hover{
      color:$primary-color-hover;
      border: 2px solid $primary-color-hover;
    }
  }
  &:hover{
    top:-1px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.3);
  }
}
