.player{
  width:100%;
  position:relative;
  overflow:hidden;
  p, span{
    font-size:14px;
    line-height:14px;
  }
  #playlist{
    display:none;
  }
  .player-art{
    img{
      width:100%;
    }
    .player-title{
      position:absolute;
      top:20px;
      left:20px;
      color:$font-color-light;
    }
  }


  .player-bar{
    width: 100%;
    height:10px;
    position:relative;
    overflow:visible;
    .handle{
      width:16px;
      height:16px;
      top:-3px;
      border-radius:50%;
      display:none;
      position:absolute;
      z-index:3;
      background:$font-color-light;
      box-shadow:inset 0 1px 1px rgba(0,0,0,.3);
      box-shadow:0 2px 4px rgba(0,0,0,.3);
    }
    .tooltip{
      padding:10px;
      display:none;
      position:absolute;
      width:auto;
      top:-50px;
      left: 30px;
      background: $primary-color;
      color:$font-color-light;
    }
    .player-bar-complete, .player-bar-left{
      box-shadow:inset 0 3px 1px rgba(0,0,0,.2);
      height:100%;
      box-sizing:border-box;
      display:inline-block;
      float:left;
    }
    .player-bar-complete{
      background:$secondary-color;
      width:50%;
    }
    .player-bar-left{
      background: $bg-color-light;
      width:50%;
    }
    &:hover{
      .tooltip{
        display:block;
      }
    }
  }


  .player-controls{
    background: $primary-color;
    width:100%;
    overflow:visible;
    height:60px;
    margin:0 auto;
    .player-button{
      width: 1*$grid-subdivision;
      height: 1*$grid-subdivision;
      margin: .12*$grid-subdivision;
      display:inline-block;
      float:left;
      border-radius:50%;
      @include transition(.2s);
      svg{
        width:.5*$grid-subdivision;
        position:relative;
        top:.25*$grid-subdivision;
        margin:auto;
        display:block;
        polygon, rect{
          @include transition(.2s);
          fill: $font-color-light;
        }
      }
      &:hover{
        background: $primary-color-dark;
      }
      &:hover svg{
        polygon, rect{
          fill: $font-color-accent;
        }
      }
    }
    .player-volume{
      margin: .12*$grid-subdivision;
      background:$primary-color;
      display:inline-block;
      float:left;
      width:50px;
      height:50px;
      position:relative;
      overflow:visible;
      svg{
        margin:13px;
        width:24px;
        height:24px;
        path{
          fill:$font-color-light;
        }
        .st0{
          fill:none;
        }
      }
      .player-volume-slider{
        width:30px;
        padding:8px;
        height:150px;
        position:absolute;
        background: $primary-color;
        top:-140px;
        left:10px;
        //border-radius: 15px;
        z-index:3;
        display:none;
        box-shadow: 0 3px 6px rgba(0,0,0,.3);
        .player-volume-slider-highlight{
          background:$link-color;
          display:block;
          height:100%;
          //border-radius:10px;
        }
        &:hover{
          display:block;
        }
      }
      &:hover .player-volume-slider{
          display:block;
      }
    }
    .player-rw{
      svg{
        left:-2px;
      }
    }
    .player-play-pause{

    }
    .player-ff{
      svg{
        left:2px;
      }
    }
  }
}
